/* Start Global */

/* my main color -> #e91e63 */

@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: aliceblue;
}

.special-h {
    margin: 0 0 30px;
    color: #3d3d3d;
    text-transform: uppercase;
    position: relative;
}

.special-h:after {
    content: "";
    display: block;
    width: 20px;
    position: absolute;
    top: 25px;
    left: 0;
    border-bottom: 2px solid #e91e63;
}

.my-btn {
    padding: 5px 20px;
    margin: auto;
    background: none;
    border: 2px solid #888;
    color: #888;
    transition: all .2s ease;
    cursor: pointer;
}

.my-btn:focus {
    outline: none;
}

.my-btn:hover {
    color: #aaa;
    border-color: #aaa;
}

.my-btn:active {
    transform: scale(1.05);
}


.clear-fix {
    clear: both
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* End Global */

/* Start Navbar */

.navbar {
    height: 0;
    z-index: 4;
    position: relative;
    color: aliceblue;
}

.navbar .brand {
    float: left;
    text-transform: uppercase;
    width: 40%
}

.navbar .links {
    text-align: right;
    float: right;
    width: 60%;
}

.navbar .links li {
    display: inline-block;
    margin: 20px 15px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.navbar .links li:active {
    transform: scale(1.3);
}

.navbar .links li.active,
.navbar .links li:hover {
    border-bottom: 2px solid #e91e63;
    cursor: pointer;
}

.navbar .links li.active a,
.navbar .links li a:hover {
    color: #e91e63;

}

/* End Navbar */

/* Start Header */

.header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    z-index: -2;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header .slider {
    z-index: 5;

}

.header .bx-wrapper {
    height: 100%;
    background: none;
    color: aliceblue;
    border: none;
}

.header .bx-wrapper .bx-viewport {
    height: 100% !important;
    text-align: center;
    box-shadow: none;
}

.header .slider div {
    height: 150px;
    width: 50% !important;
    margin: auto !important;
    position: relative !important;
    z-index: 50;
}

.header .slider div h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.header .slider div h2 span {
    color: #e91e63;
}

.header .slider div p {
    line-height: 1.2em;
    color: #bbb;
    margin-top: 10px;
}

/* End Header */

/* Start About */

.about {
    padding: 50px 0;
}

.about .items {
    max-width: 100%;
    margin: auto;
}

.about .items .item {
    width: 33.3333%;
    height: 250px;
    float: left;
    margin: 5px 0;
}

.about .items .item i {
    width: 20%;
    margin-right: 5%;
    margin-top: 8%;
    color: #e91e63;
    float: left;
}

.about .items .item .info {
    float: left;
    width: 75%;
}

.about .items .item .info h3 {
    color: #2d2d2d;
}

.about .items .item .info p {
    width: 80%;
    color: #6d6d6d
}

/* End About */

/* Start Portfolio */

.portfolio {
    height: 500px;
    background-color: blueviolet;
}

/* End Portfolio */

/* Start Testimonials */

.testimonials {
    height: 500px;
}

/* End Testimonials */

/* Start Contact */

.contact {
    height: 500px;
    background-color: #3d3d3d;
}

/* End Contact */
